<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Categorías</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <!-- Include Navbar -->
      <%- include('partials/navbar') %>
      <h2>Lista de Productos</h2>
      <div class="section grey lighten-5">
        <div class="row">
          <% products.forEach(product => { %>
          <div class="col s12 m3">
            <div class="card">
              <a href="Producto/<%= product.id_product%>">
                <div class="card-image">
                  <img
                    src="https://nayemdevs.com/wp-content/uploads/2020/03/default-product-image.png"
                  />
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p class="center"><%= product.name_product %></p>
                </div>
              </a>
              <div class="card-action center">
                <a href="#" class="btn">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <table class="striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Stock</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(product => { %>
          <tr>
            <td><%= product.name_product %></td>
            <td>
              <%= categories[product.category_producto - 1].name_category %>
            </td>
            <td><%= product.stock %></td>
            <td>$ <%= product.price %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".dropdown-trigger").dropdown();
      });
    </script>
  </body>
</html>
