<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Categorías</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <% categories.forEach(category => { %>
        <li><a href="#!"><%= category.name_category %></a></li>
        <% }); %>
      </ul>
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <!-- Dropdown Trigger -->
            <li>
              <a class="dropdown-trigger" href="#!" data-target="dropdown1"
                >Categorías<i class="material-icons right"
                  >arrow_drop_down</i
                ></a
              >
            </li>
          </ul>
        </div>
      </nav>
      <h2>Lista de Productos</h2>
      <div class="section">
        <div class="row">
          <% products.forEach(product => { %>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img
                  src="https://nayemdevs.com/wp-content/uploads/2020/03/default-product-image.png"
                />
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p><%= product.name_product %></p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>

          <% }); %>
        </div>
      </div>
      <table class="striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Stock</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(product => { %>
          <tr>
            <td><%= product.name_product %></td>
            <td>
              <%= categories[product.category_producto - 1].name_category %>
            </td>
            <td><%= product.stock %></td>
            <td>$ <%= product.price %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".dropdown-trigger").dropdown();
      });
    </script>
  </body>
</html>
